body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: space-between;
    padding: 25px;
    margin: 0px;
    
}
.title {
    font-size: 24px;
    color: #E5E7EB;
    font-weight: 600;
    margin-left: 400px;
    
}

.menu {
    display: flex;
    font-size: 18px;
    color: #E5E7EB; 
    margin-right: 400px;
    gap: 20px;
}

/** remove visited link color**/

a {
    color: #E5E7EB; 
}

a:visited {
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
}

/**page content split to 4 section**/
/**styling section1**/

.section1 {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: space-between;
    
    
}

.section1left {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    padding-top: 100px;
    padding-left: 25px;
    padding-bottom: 100px;
    margin-left: 400px;

}

.picture {
    display: flex;
    flex: 1 1 0px;
    padding-top: 100px;
    padding-left: 25px;
    padding-bottom: 100px;
    margin-right: 400px;
}

.section1title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;

}

.section1 .picture {
    padding: 25px;
}

.section1subtext {
    font-size: 18px;
    color: #E5E7EB;

}

button {
    width: 100px;
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    font-weight: 500;
    border-radius: 4px;
    padding: 2px;
    margin-top: 10px;
}

/**styling section2**/

.section2 {
    display: flex;
    flex-direction: column;
}

.section2title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.section2pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}



.info img {
    border: 3px solid #3882F6;
    border-radius: 8px;
    width: 250px;
    height: 250px;
    gap: 20px;
}

.info .text {
    text-align: center;
    width: 250px;
    font-size: 18px;
    color: #1F2937;
    margin: 5px;
}

/**style of section 3**/

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.section3 .quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    margin-top: 30px;

}

.section3 .signature {
    padding-bottom: 30px;
    font-weight: 700;
    text-align: right;
    padding-left: 300px;
}

/**style of section4**/

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.signupbutton {
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 30px;
    gap: 200px;
}

.section4button button {
    border: 1px solid white;
}

.section4left {
    color: #E5E7EB;
}

.section4title {
    font-size: 24px;
    font-weight: 600;
}

