body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: space-between;
    padding: 50px;
    margin: 0px;
}
.title {
    font-size: 24px;
    color: #E5E7EB;
    font-weight: 600;
    
}

.menu {
    display: flex;
    font-size: 18px;
    color: #E5E7EB; 
    
    gap: 20px;
}

/** remove visited link color**/

a {
    color: #E5E7EB; 
}

a:visited {
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
}

/**styling section1**/

.section1 {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: space-between;
    
}

.section1left {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    padding: 50px;

}

.picture {
    display: flex;
    flex: 1 1 0px;
}

.section1title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;

}

.section1 .picture {
    padding: 50px;
}

.section1subtext {
    font-size: 18px;
    color: #E5E7EB;

}

button {
    width: 100px;
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    font-weight: 500;
    border-radius: 4px;
    padding: 2px;
    margin-top: 10px;
}